# Managed by Composer
/vendor

# Auto-saved files
*~

# Mac
/.DS_store

# PhpStorm
/.idea

# Composer
/composer.phar

# PHPUnit
/.phpunit.result.cache
/phpunit-filter.php
/coverage
/build

# PHP CS Fixer
.php-cs-fixer.cache

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
